body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color:#fff;
  background-color:#000;
  font-size:.8em;
  line-height:1.3em;
}

body.splash {
  background:url(../homebg.gif) top center no-repeat #000;
}


#content {
  width:1000px;
  margin:0 auto;
}
a {text-decoration:underline; color:#fff;}
a:hover {text-decoration:none;}

img {border:0;}

h1, h2 {
  text-transform:uppercase;
  font-weight:normal;
line-height: 1.2em;
}

h2, h3, h4 {
  margin-top:2em;
}

#head {
  height:40px;
  width:100%;
  padding-bottom:20px;
}

#foot {
  height:40px;
  width:100%;
  clear:both;
}

#head img {
  margin-top:20px;
  margin-right:20px;
}

#lefthead, #righthead, #leftfoot, #rightfoot {
  width:40px;
  height:40px; 
}
#lefthead {
  float:left;
  border-bottom:1px solid #fff;
  border-right:1px solid #fff; 
  margin:8px 0 0 4%;
}

#righthead {
  margin:8px 4% 0 0;
  float:right;
  border-bottom:1px solid #fff;
  border-left:1px solid #fff;
}

#leftfoot {
  margin:10px 0 10px 4%;
  float:left;
  border-top:1px solid #fff;
  border-right:1px solid #fff;
}

#rightfoot {
  margin:10px 4% 10px 0;
  float:right;
  border-top:1px solid #fff;
  border-left:1px solid #fff;
}

#viewport {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

#leftcol {
  float:left;
  width:8%;
  text-align:left;
  padding-top:350px;
}

#rightcol {
  float:left;
  width:8%;
  text-align:right;
  padding-top:350px;
}

#maincol {
    margin: 0 auto;
    width: 830px;
    text-align:justify;
  }

#maincol h1 {
  font-size:1.7em;
  margin-top:8px;
  margin-bottom:16px;
  padding-bottom:0;
  font-weight:normal;
  text-align:left;
}

#maincol p {
  
}

#centerthis {
  width:820px;
  margin-left:auto;
  margin-right:auto;
  text-align:justify;
}

li {
  margin-bottom:.6em;
}

/* Splash page */

.keywords {
  text-transform:uppercase;
}

h1.heading {
  margin-top: 115px;
  margin-bottom:170px;
  line-height:1.3;
  font-weight:bold;
}

h1.heading a {
  color: #fff;
  font-size: 2.2em;
  text-decoration:none;
}

h1.heading a:hover {
  text-decoration:none;
  color:#ff0000;
}

.architects, .names {
  font-size: .4em;
  font-weight:normal;
  letter-spacing:.15em;
}

.names {
  margin-top:.2em;
  margin-right:.9em;
	font-size:.35em;
}



/* Profile page */

.profileimg {
  float:right;
  margin:20px 0 0 16px;
  border:0px solid #fff;
}

#nrintro {
  text-align:left;
  width:100%;
  line-height:1.4em;
  font-size:1.1em;
}

#nrintro p {
  margin-top:0; 
  margin-bottom:1em;
}

.profilecontact {
  font-weight:bold;
}

.biohead {
  font-size:1em;
}
.quals {font-size:.85em;}

#toby, #anna {
  padding-top:1em;
  text-align:left;
}



/* Projects main page */

.projects a img {border:2px solid #000;}
.projects a:hover img {border:2px solid #fff;}

.projects .gallerycol01 {
  padding-top:80px;
}
.projects .gallerycol02 {
  padding:0 11px;
}
.projects .galleryitem  {
  padding-bottom:20px;
  display:block;
width:190px;
height:127px;
text-align:center;
float:left;
padding-right:10px;
vertical-align:middle;
}

/* individual project page */

#leftgallery {
  width:380px;
  float:left;
}
.projects #gallery {
  clear:both;
  margin-top:1em;
  text-align:justify;
  width:380px;
}

#fullsize {
  float:right;
  margin-right:4px;
  padding-bottom:20px;
  width:400px;
  text-align:right;
}

#textcontent {
  float:left;
}

#projectsgal {
  margin-bottom:1em;
}

.projects #gallery img {
    margin-bottom:12px;
}

#gallery img {border:2px solid #000;}
#gallery a:hover img {border:2px solid #fff;}

#gallery a {text-decoration:none;}

/* Art page */

.gallerycol01, .gallerycol02, .gallerycol03 {
  float:left;
  text-align:center;
}

.left {
  float:left;
}

.right {
  float:right;
}


/* Publications page */


.awardsimg {
  float:right;
  margin:0 0 1em 1em;
}

/* Title strip */

#titletop {
  width:100%;
  border-bottom:1px solid #cbcbcb;
  clear:both;
  padding-top:16px;
}

#titlebottom {
  width:100%;
  border-top:1px solid #cbcbcb;
  margin-top:4px;
  margin-bottom:10px;
  clear:both;
  text-align:center;
}

#titlebottom a {
  color:#7f7f7f;
  text-transform:uppercase;
  font-weight:normal;
  text-decoration:none;
  padding-top:1em;
  display:block;
}

#titlebottom a:hover {
  color:#ff0000;
}

#titlebarinner {
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding-left:100px;
  width:915px;
  clear:both;
  text-transform:uppercase;
  
}




.nav {
  float:left;
  border:0;
}

.nav a {
  display:block;
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
}

.nav a:hover, #name a:hover {
  font-weight:bold;
  color:#ff0000;
}

.projectslink, .relatedlink {
  text-align:center;
  display:block;
  padding:3px 0 3px 0;
  height:16px;
}

.projectslink {
  margin-bottom:4px;
}

#projectsawards {
  width:169px;
}

#tobyreed {
    height: auto;
    padding-top: 20px;
    text-align: center;
    width: 220px;
}

#peterhogg {
    padding-top: 20px;
    text-align: center;
    width: 130px;
}

#aboutcontact {
    text-align: center;
    width: 240px;
}

.awardsitem {
	float:left;
	padding:6px;
	margin-bottom:1em;
}