<div id="footer">
  <div id="footer_borders">
    <ul id="footer_info">
      <li class="footer_item">
        <a href="/contact/">Toby Reed</a>
      </li>
      <li class="footer_item">
        <a href="/projects/" class="projectslink">projects</a>
        <a href="/awards/" class="relatedlink">awards / publications</a>
      </li>
      <li class="footer_item">
        <a href="/about/" class="projectslink">about</a>
        <a href="/contact/" class="relatedlink">contact</a>
      </li>
      <li class="footer_item">
        <a href="/contact/">Peter Hogg</a>
      </li>
    </ul>
  </div>

  <div id="footer_home">
    <a href="/">Home</a>
  </div>

  <div id="foot">
    <div id="leftfoot">
      &nbsp;
    </div>
    <div id="rightfoot">
      &nbsp;
    </div>
  </div>
  <div class="socialfoot">
    <a href="https://www.facebook.com/nervegnareedarch/" target="_blank" class="social_icon">
      <img src="/img/social_icons/facebook_icon.png" alt="facebook nervegna reed" title="facebook nervegna reed">
    </a>
    <a href="https://www.instagram.com/toby_eggleston_reed/" target="_blank" class="social_icon">
      <img src="/img/social_icons/instagram_icon.png" alt="instagram Toby Reed" title="instagram Toby Reed">
    </a>
    <a href="https://www.youtube.com/channel/UCLDgYFQsGxVMB_hSs8yB_3g" target="_blank" class="social_icon">
      <img src="/img/social_icons/youtube_icon.png" alt="youtube Toby Reed" title="youtube Toby Reed">
    </a>
    <a href="https://plus.google.com/115668513015631675447/posts" target="_blank" class="social_icon">
      <img src="/img/social_icons/googleplus_icon.png" alt="google plus Toby Reed" title="google plus Toby Reed">
    </a>
    <a data-pin-do="buttonBookmark" data-pin-custom="true" data-pin-tall="true" data-pin-round="true" href="https://www.pinterest.com/pin/create/button/" class="social_icon">
      <img src="http://i.imgur.com/oaeKVKH.png" height="25" alt="pin to pinterest" title="pin to pinterest">
    </a>
  </div>
</div>
