<div id="footer">
  <div id="footer_borders">
    <ul id="footer_info">
      <li class="footer_item">
        <a href="/contact/">Toby Reed</a>
      </li>
      <li class="footer_item">
        <a href="/projects/" class="projectslink">projects</a>
        <a href="/awards/" class="relatedlink">awards / publications</a>
      </li>
      <li class="footer_item">
        <a href="/about/" class="projectslink">about</a>
        <a href="/contact/" class="relatedlink">contact</a>
      </li>
      <li class="footer_item">
        <a href="/contact/">Peter Hogg</a>
      </li>
    </ul>
  </div>

  <div id="footer_home">
    <a href="/">Home</a>
  </div>

  <div id="foot">
    <div id="leftfoot">
      &nbsp;
    </div>
    <div id="rightfoot">
      &nbsp;
    </div>
  </div>
</div>
