
<div id="titletop"></div>

<div id="titlebarinner">
  <div id="tobyreed" class="nav">
    <a href="/contact/">Toby Reed</a>
  </div>

  <div class="nav" id="projectsawards">
    <div class="projectslink"><a href="/projects/">projects</a></div>
    <div class="relatedlink"><a href="/awards/">awards / publications</a></div>
  </div>

  <div class="nav" id="aboutcontact">
    <div class="projectslink"><a href="/about/">about</a></div>
    <div class="relatedlink"><a href="/contact/">contact</a></div>
  </div>

  <div id="peterhogg" class="nav">
    <a href="/contact/">Peter Hogg</a>
  </div>
</div>

<div id="titlebottom">
  <a href="/">Home</a>
</div>

<div id="foot">
  <div id="leftfoot">
    &nbsp;
  </div>
  <div id="rightfoot">
    &nbsp;
  </div>
</div>
