<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<link type="text/css" href="css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />  
  <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery.lightbox-0.5.min.js"></script>

	<title>nervegna reed</title>
	
</head>

<body>
<div id="content">
  
  <div id="head">
  
    <div id="lefthead">
      &nbsp;
    </div>
    
    <div id="righthead">
      &nbsp;
    </div>
  
  </div>
  
  <div id="viewport">


    {{ content }}


  </div>
  
  <div id="titletop"></div>
    
 
    <div id="titlebarinner">
    
      <div id="name">
        <a href="profile.html">nervegna reed</a>
      </div>
    
      <div id="nav">
        <div class="projectslink"><a href="projects">selected projects</a></div>
        <div class="relatedlink"><a href="related">related work</a></div>
      </div>
    
      <div id="contact">
        <div class="address">
          1 st leonard's place<br />
          st kilda &nbsp; victoria &nbsp; 3182, australia<br />
        </div>
        <div class="ph">
          T: +613 95938223 / <a href="mailto:nr@n-r.com.au">nr@n-r.com.au</a>
        </div>
        
      </div>
    
      <div id="deco">
        &nbsp;
      </div>
  
    </div>
    <div id="titlebottom">
    </div>  
  
  <div id="disclaim">
    Do not scale drawings. Use figured dimensions only. All dimensions to be checked on site. This drawing to be read in conjunction with all other drawings, specifications, consultants details &amp; architects instructions. 
    Copyright of the contents of this drawing and images is retained by the architect. Written consent must be obtained prior to any use or reproduction of this drawing, or part thereof.
  </div>
  
  <div id="foot">
    <div id="leftfoot">
      &nbsp;
    </div>
    <div id="rightfoot">
      &nbsp;
    </div>
  </div>

</div>

</body>
</html>
